# Node
daemon
node_modules/
*.log

# OS junk
.DS_Store
Thumbs.db

# Build/output/pdf
*.tar
*.zip
*.pdf
quote_click_log.txt

# Backup
backup.sql


# Services to ignore
serviceCreate.js
serviceDelete.js

# Editor/IDE
.vscode/
.idea/
.env
